$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

$epic-red: #ec303a;

/*fonts*/
@font-face {
    font-family: 'LigatureSymbols';
    src: url('LigatureSymbols-2.11.eot');
    src: url('LigatureSymbols-2.11.eot?#iefix') format('embedded-opentype'),
         url('LigatureSymbols-2.11.woff') format('woff'),
         url('LigatureSymbols-2.11.ttf') format('truetype'),
         url('LigatureSymbols-2.11.svg#LigatureSymbols') format('svg');
    font-weight: normal;
    font-style: normal;
}

.lsf {
  font-family: 'LigatureSymbols';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-font-feature-settings: "liga" 1, "dlig" 1;
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga" 1, "dlig" 1;
  -o-font-feature-settings: "liga" 1, "dlig" 1;
  font-feature-settings: "liga" 1, "dlig" 1;
}
.lsf-icon:before {
  content:attr(title);
  margin-right:0.3em;
  font-size:130%;
  font-family: 'LigatureSymbols';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-font-feature-settings: "liga" 1, "dlig" 1;
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga" 1, "dlig" 1;
  -o-font-feature-settings: "liga" 1, "dlig" 1;
  font-feature-settings: "liga" 1, "dlig" 1;
}
/*end fonts*/


body {
	font-size: 24px !important;
	font-family: "Lato", sans-serif;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

p {
	color: white;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Francois One", sans-serif;
}

h1 {
	font-size: 3.7em;
	padding: 30px 0;
}

h2 {
	font-size: 2.5em;
}

h4 {
	font-size: 1.3em;
	color: white;
}

h6 {
	font-size: 1em;
}

header, section, footer {
	position: relative;
	padding: 50px 0;
	.row {
		margin: 0;
	}
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.bg-image {
	position: fixed;
	top: -25%;
    left: 0; 
	background: url('../images/firstpanel.png') center center;
	background-size: cover;
	width: 1920px;
	height: 1920px;
	opacity: 0.8;
	z-index: -1;
	animation: rotate 90s linear infinite;
}

.apply-button {
	background-color: $epic-red;
	border-radius: 5px;
	border-style: none;
	color: white;
	padding: 15px 20%;
	font-size: 1.5em;
	font-style: italic;
	font-weight: 700;
}

.text-wrapper {
	padding:10px 50px;
}

section:nth-child(even) {
	background-color: #333;
	h2 {
		color: white;
		text-align: right;
		padding-right: 10%;
	}
	.red-line {
		width: calc(90% - 550px);
	}
	.row {
		p {
			color:white;
			line-height: 25px;
		}
		h4 {
			font-style: italic;
		}
	}
}

section:nth-child(odd) {
	background-color: #fff;
	min-height: 500px;
	h2 {
		padding-left: 10%;
	}
	.red-line{
		width: calc(90% - 550px);
		float: right;
	}
	.red-orb {
		left:0;
	}
	.row {
		p {
			font-size: 0.65em;
			color:black;
			line-height:17px;
		}
		.red-text p {
			color: $epic-red;
			line-height: 12px;
			font-style: italic;
		}
	}
}

footer {
	padding: 0;
	h1 {
		color: $epic-red;
		font-size: 2em;
		text-align: center;
	}
	a {
		color: white;
	}
}


.red-line {
	// position: absolute;
	top: 48%;
	background-color: $epic-red;
	height: 12px;
	width: 50%;
}

.red-orb {
	position: relative;
	top: -25px;
	left: 100%;
	margin-left: -10px;
	background-color: $epic-red;
	width: 60px;
	height: 60px;
	border-radius: 30px;
}

.epicBtn{
    background-color:#ec303a;   
    border-radius:5px;
    border-style:none;
    display:block;
    width:33.33%;
    color:white;
    font-weight:bold;
    // line-height:2em;
    // font-size:2em;
    margin:50px auto 20px auto;
}

/* =======================================================
   8.CONTACT-DESKTOP
========================================================== */
.contact-page {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom:4%;
	position: relative;
	z-index: 8;
	overflow:hidden;	
	background-color:#FFF;
}
.contact-page .contact-wrapper {
	width:99%;
	margin:auto;
	overflow:hidden;
}

/* =======================================================
   8.CONTACT-MOBILE
========================================================== */
.contact-page {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
/*	padding-bottom:4%;*/
	position: relative;
	z-index: 8;
	overflow:hidden;	
	background-color:#FFF;
}
.contact-page .contact-wrapper {
	width:85%;
	margin:auto;
	overflow:hidden;
	/*background-color:#3FC;*/
}

/* =======================================================
   9.FOOTER-DESKTOP
========================================================== */
.footer-pg{
	overflow: hidden;
	padding-top:2%;
	background-color:#232323;
    color:white;
    padding-bottom: 50px;
}
.footer-pg h6{
    text-align:center;
    width:100%;
    font-size:16px;
    padding:15px 0;
}
@media only screen and (min-width: 769px) {
.lsf-icon:before {
  content:attr(title);
  margin-right:0.3em;
  font-size:130%;
}
}
.img-15{
	width:15%;
	height:15%;
}
    .center-box{
	margin:0 auto;
}
    .text-bigger{
	font-size:40px ;
}

@media screen and (max-width: 770px) {
	section:nth-child(odd) {
		.red-orb {
			float: right;
		}
	}
	section:nth-child(even) {
		.red-orb {
			margin-left: 0px;
		}
	}
}